@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Sacramento&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: 'Panther';
  src: url(../../assets/fuente/pantherdam_signature/Pantherdamsignature.ttf);
  font-style: normal; }

body {
  background-color: #DACABB;
  font-family: 'Comfortaa', cursive; }

.categorias-title, .hero__categorias-title, .hero2__title, .hero3__title, .hero4__title, .hero5__title {
  margin: 40px;
  font-size: 40px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bold; }

.productos-art, .hero2__productos-art, .hero5__productos-art {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px; }

.productos-img, .hero2__productos-img, .hero5__productos-img {
  height: 250px;
  width: 250px;
  margin: 30px; }

.productos-name, .hero2__productos-name, .hero5__productos-name {
  font-weight: bold; }

.categorias-bck, .hero3__categ1, .hero3__categ2, .hero3__categ3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  border: 30px;
  margin: 60px 150px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
  color: white; }

.categorias-txt, .hero3__categ-text {
  background-image: url(../../assets/fondo-texto.png);
  background-position: center;
  background-size: cover;
  width: 240px;
  padding: 40px;
  align-content: center;
  text-align: center; }

.header {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: #D4B2A7;
  position: sticky;
  top: 0px;
  z-index: 1; }
  .header .navbar {
    background-color: #D4B2A7 !important; }
    .header .navbar a {
      color: white !important;
      transition: color 0.3s !important;
      font-size: 22px;
      padding: 0px 20px !important; }
      .header .navbar a:hover {
        color: #000 !important; }

@media (max-width: 1200px) {
  .navbar-brand-image {
    height: 120px !important; } }

@media (max-width: 576px) {
  .navbar-brand-image {
    height: 100px !important; } }

.footer {
  background-color: #EDE9E3;
  margin-top: 50px;
  display: flex;
  justify-content: center; }
  .footer div {
    margin-top: 20px; }
  .footer__list-contac, .footer__list-redes {
    list-style: none; }
    .footer__list-contac-title, .footer__list-redes-title {
      font-weight: bold;
      padding: 10px 60px; }
    .footer__list-contac-element, .footer__list-redes-element {
      width: 260px;
      padding: 10px 60px; }
    .footer__list-contac a, .footer__list-redes a {
      text-decoration: none;
      color: black; }
  .footer__logo {
    padding: 10px 60px; }
    .footer__logo-element {
      width: 165px;
      height: 57px; }
  .footer__logo {
    display: flex;
    align-items: center; }

@media (max-width: 992px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    .footer__logo {
      display: none; }
    .footer__list-contac-title, .footer__list-redes {
      margin-top: 15px; } }

@media (max-width: 576px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center; } }

.hero__img {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../assets/main.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 250px 0px 120px 0px; }
  .hero__img h1 {
    font-family: 'Panther';
    color: #EDE9E3;
    font-size: 250px;
    margin-bottom: 275px;
    font-weight: lighter;
    text-align: center;
    -webkit-text-stroke: 1px #000; }
  .hero__img-button {
    width: 200px;
    height: 60px;
    background-color: #D4B2A7;
    border: 0px;
    margin-top: 20px;
    transition: background-color 0.3s; }
    .hero__img-button:hover {
      background-color: rgba(231, 215, 201, 0.5); }
    .hero__img-button-link {
      text-decoration: none;
      color: #fff;
      font-size: 22px;
      font-family: 'Comfortaa', cursive; }

.hero__categorias {
  margin: 20px 40px; }
  .hero__categorias-tipos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin: 0px 40px; }
    .hero__categorias-tipos-img {
      width: 290px;
      height: 420px;
      padding: 10px; }
    .hero__categorias-tipos-desc {
      text-align: center;
      margin: 10px;
      font-weight: lighter; }

@media (max-width: 1200px) {
  .hero__img {
    background-image: url(../../assets/main-resposive.jpg); }
  .hero__categorias-tipos {
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0px 10px; } }

@media (max-width: 768px) {
  .hero__img h1 {
    font-size: 150px; } }

@media (max-width: 576px) {
  .hero__categorias {
    margin: 20px 20px; }
    .hero__categorias-tipos {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      margin: 0px 20px; } }

.hero2__productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

@media (max-width: 992px) {
  .hero2__productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 576px) {
  .hero2__productos {
    display: grid;
    grid-template-columns: repeat(1, 1fr); } }

.hero3__categ1 {
  background-image: url(../../assets/tendencias-fin2022.jpg); }

.hero3__categ2 {
  background-image: url(../../assets/tendencias-verano2022.jpg); }

.hero3__categ3 {
  background-image: url(../../assets/tendencias2023.jpg); }

@media (max-width: 768px) {
  .hero3__categ1, .hero3__categ2, .hero3__categ3 {
    margin: 10px 10px; }
  .hero3__categ-text {
    font-weight: lighter; } }

.hero4 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center; }
  .hero4 .carousel {
    height: 600px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center; }
  @media (max-width: 1200px) {
    .hero4 .carousel {
      width: 800px; } }
  @media (max-width: 992px) {
    .hero4 .carousel {
      width: 600px; } }
  @media (max-width: 768px) {
    .hero4 .carousel {
      height: 400px;
      width: 450px; } }
  @media (max-width: 576px) {
    .hero4 .carousel {
      height: 300px;
      width: 350px; } }

.hero5__productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

@media (max-width: 992px) {
  .hero5__productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 576px) {
  .hero5__productos {
    display: grid;
    grid-template-columns: repeat(1, 1fr); } }
