/* Estilos generales */





/* Estilos páginas */



.hero2__title, .hero3__title, .hero4__title, .hero5__title, #hero6__title{
    margin: 40px;
    font-size: 40px;
    padding-top: 30px; 
    display: flex;
    justify-content: center;
    text-align: center;
}

.hero2__productos, .hero5__productos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.hero2__productos-art, .hero5__productos-art{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.hero2__productos-img, .hero5__productos-img{
    height: 250px;
    width: 250px;
    margin: 30px;
}

.hero2__productos-name, .hero5__productos-name{
    font-weight: bold;
}

.hero3__categ1{
    background-image: url(./assets/tendencias-fin2022.jpg);
}

.hero3__categ2{
    background-image: url(./assets/tendencias-verano2022.jpg);
}

.hero3__categ3{
    background-image: url(./assets/tendencias2023.jpg);
}

.hero3__categ1, .hero3__categ2, .hero3__categ3, .hero4__categ1, .hero4__categ2, .hero4__categ3, .hero4__categ4{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    border: 30px;
    margin: 60px 150px;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    height: 400px;
    color: white;
}

.hero3__categ-text, .hero4__categ-text{
    background-image: url(./assets/fondo-texto.png);
    background-position: center;
    background-size: cover;
    width: 240px;
    padding: 40px;
    align-content: center;
    text-align: center;
}

.hero4__categ1{
    background-image: url(./assets/categorias-pulseras.jpg);
}

.hero4__categ2{
    background-image: url(./assets/categorias-anillos.jpg);
}

.hero4__categ3{
    background-image: url(./assets/categorias-aretes.jpg);
}
.hero4__categ4{
    background-image: url(./assets/categorias-cabello.jpg);
}

.main-contacto{
    height: 60vh;
}

.hero6__form{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    margin-top: 90px
}

#hero6__form-label-nombre{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#hero6__form-nombre{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#hero6__form-label-email{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#hero6__form-email{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#hero6__form-label-numero{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

#hero6__form-numero{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

#hero6__form-label-solicitud{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

#hero6__form-solicitud{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

#hero6__form-label-nombre, #hero6__form-label-email, #hero6__form-label-numero, #hero6__form-label-solicitud{
    justify-self: center;
}

.hero6__form-element{
    margin: 10px 0px;
}

#hero6__form-solicitud{
    min-height: 200px;
    min-width: 600px;
}

/* Estilos footer */



/* Media queries */

@media (max-width: 1200px){

    .hero__img{
        background-image: url(./assets/main-resposive.jpg);
    }

    .hero__categorias-tipos{
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        margin: 0px 10px;
    }
}

@media (max-width: 992px){

    .hero2__productos, .hero5__productos{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {

    .hero__img h1{
        font-size: 150px;
    }

    .hero__categorias-tipos{
        grid-template-columns: repeat(2, 1fr);
        margin: 0px 10px;
    }

    .hero3__categ1, .hero3__categ2, .hero3__categ3, .hero4__categ1, .hero4__categ2, .hero4__categ3, .hero4__categ4{
        margin: 10px 10px;
    }

    .hero3__categ-text, .hero4__categ-text{
        font-weight: lighter;
    }

    
}

@media (max-width: 576px) {

    .hero__categorias-tipos{
        grid-template-columns: repeat(1, 1fr);
        margin: 0px 20px;
    }

    .hero__categorias{
        margin: 20px 20px;
    }

    .hero2__productos, .hero5__productos{
        grid-template-columns: repeat(1, 1fr);
    }
}