.hero4{
    @include templateGrid(1);
    justify-items: center;

    &__title{
        @extend .categorias-title;
    }

    .carousel{
        height: 600px;
        width: 1000px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1200px){
    .carousel{
        width: 800px;
    }
}

@media (max-width: 992px){
    .carousel{
        width: 600px;
    }
}

@media (max-width: 768px){
    .carousel{
        height: 400px;
        width: 450px;
    }
}

@media (max-width: 576px){
    .carousel{
        height: 300px;
        width: 350px;
    }
}