.hero4{
    @include templateGrid(1);
    justify-items: center;

    &__title{
        @extend .categorias-title;
    }

    .carousel{
        height: 600px;
        width: 1000px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media (max-width: $extLarge){
        .carousel{
            width: 800px;
        }
    }
    
    @media (max-width: $large){
        .carousel{
            width: 600px;
        }
    }
    
    @media (max-width: $medium){
        .carousel{
            height: 400px;
            width: 450px;
        }
    }
    
    @media (max-width: $small){
        .carousel{
            height: 300px;
            width: 350px;
        }
    }
}

