.hero3__title{
    @extend .categorias-title;
}

.hero3__categ1{
    background-image: url(../../assets/tendencias-fin2022.jpg);
}

.hero3__categ2{
    background-image: url(../../assets/tendencias-verano2022.jpg);
}

.hero3__categ3{
    background-image: url(../../assets/tendencias2023.jpg);
}

.hero3__categ1, .hero3__categ2, .hero3__categ3{
    @extend .categorias-bck;
}

.hero3__categ-text{
    @extend .categorias-txt;
}

@media (max-width: $medium){
    .hero3__categ1, .hero3__categ2, .hero3__categ3{
        margin: 10px 10px;
    }

    .hero3__categ-text{
        font-weight: lighter;
    }
}