.footer{
    background-color: $ftColor;
    margin-top: 50px;
    display: flex;
    justify-content: center;

    div{
        margin-top: 20px;
    }

    &__list-contac, &__list-redes{
        list-style: none;

        &-title{
            font-weight: bold;
            padding: 10px 60px;
        }

        &-element{
            width: 260px;
            padding: 10px 60px;
        }

        a{
            text-decoration: none;
            color: black;
        }
    }

    &__logo{
        padding: 10px 60px;

        &-element{
            width: 165px;
            height: 57px;
        }
    }

    &__logo{
        display: flex;
        align-items: center;
    }
}

@media (max-width: $large){
    .footer{
        @include templateGrid(2);

        &__logo{
            display: none;        
        }

        &__list-contac-title, &__list-redes{
            margin-top: 15px;
        }
    }
}

@media (max-width: $small){
    .footer{
        @include templateGrid(1);
        justify-items: center;
    }
}