.header{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: $hdColor;
    position: sticky;
    top: 0px;
    z-index: 1;

    .navbar{
        background-color: #D4B2A7 !important;

        a{
            color: white !important;
            transition: color 0.3s !important;
            font-size: 22px;
            padding: 0px 20px !important;

            &:hover{
                color: #000 !important;
            }
        }
    }
}

@media (max-width: $extLarge){
    .navbar-brand-image{
        height: 120px !important;
    }
}

@media (max-width: $small){
    .navbar-brand-image{
        height: 90px !important;
    }
}